
body {font-family:Sans-Serif, Times, Verdana, Times New Roman,  Serif; padding-left: 10px;padding-right: 10px; color: navy;background-image: url(billeder/gifs/bg.gif);}
body.ref {font-family:Sans-Serif, Times, Verdana, "Times New Roman",  Serif; padding-left: 10px;padding-right: 10px; color: navy; font-size: 14px;}
table {border-color:#DC143C}
table.menu {background: darkgray; color:black}


table.kal {background:white; font-size: 14px; }
h3 {color: #DC143C;}
a:hover {
	font-weight: bold;
	color: white;
	background: blue
}


body {
  margin-top: 50px !important;
}

body::before {
  content: "This is an archived version of the page.";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #b00000;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  z-index: 99999;
}