
body {font-family:Sans-Serif, Times, Verdana, Times New Roman,  Serif; padding-left: 10px;padding-right: 10px; color: black;background-image: url(billeder/gifs/bg.gif);}
body.ref {font-family:Sans-Serif, Times, Verdana, "Times New Roman",  Serif; padding-left: 10px;padding-right: 10px; color: black; font-size: 14px;}
table {border-color:#DC143C}
table.menu {background: darkgray; color:black}


table.kal {background:white; font-size: 14px; }
h3 {color: #000000;}
a:hover {
	font-weight: bold;
	color: white;
	background: blue


